.login {
	/*margin-top: 5%;*/
	overflow:auto;
	background-color:#e8e8e8;
	border-radius: 7px;
	width: 40%;
	/*height: 40%;*/
}

.register {
	/*margin-top: 5%;*/
	overflow:auto;
	background-color:#e8e8e8;
	border-radius: 7px;
	width: 40%;
	/*height: 40%;*/
}

.forgot {
	/*margin-top: 5%;*/
	overflow:auto;
	background-color:#e8e8e8;
	border-radius: 7px;
	width: 40%;
	/*height: 40%;*/
}

.profile_picture {
	height: 10%;
}

.logo {
	margin-top: 2%;
	height: 6%;
}
